/* Import Fonts Found Online */
@import url("font-awesome/css/font-awesome.min.css");
@import url("fonts.css");

/* Main Styles */
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'opensans-regular', sans-serif;
    font-weight: normal;
    font-size: 15px;
    line-height: 30px;
    color: #838C95;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: #0f0f0f;
}
section {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: #0f0f0f;
}

.row {
    width: 96%;
    max-width: 1020px;
    margin: 0 auto;
}

div {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}


/* Button Template */
.button,
.button:visited,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    font: 16px/30px 'opensans-bold', sans-serif;
    background: #11ABB0;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 0;
    color: #fff;
    padding: 12px 20px;
    margin-bottom: 18px;
    border: none;
    cursor: pointer;
    height: auto;

    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
    background: #3d4145;
    color: #fff;
}

.button:active,
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
    background: #3d4145;
    color: #fff;
}



/* Header */
header {
    position: relative;
    height: 800px;
    min-height: 500px;
    width: 100%;
    background: #161415 url(./header-background.png) no-repeat top center;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    text-align: center;
    overflow: hidden;
}

header:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
header .banner {
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    width: 85%;
    padding-bottom: 30px;
    text-align: center;
}

header .banner-text { width: 100%; }
header .banner-text h1 {
    font: 90px 'opensans-bold', sans-serif;
    color: #fff;
    letter-spacing: -2px;
    margin: 0 auto 18px auto;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
}
header .banner-text h3 span,
header .banner-text h3 a {
    color: #fff;
}
header .banner-text hr {
    width: 60%;
    margin: 18px auto 24px auto;
    border-color: #2F2D2E;
    border-color: rgba(150, 150, 150, .1);
}

header .social {
    margin: 24px 0;
    padding: 0;
    font-size: 30px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
}
header .social li {
    display: inline-block;
    margin: 0 15px;
    padding: 0;
}
header .social li a { color: #fff; }
header .social li a:hover { color: #11ABB0; }


/* Navigation */
#nav-wrap ul, #nav-wrap li, #nav-wrap a {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

/* nav-wrap */
#nav-wrap {
    font: 12px 'opensans-bold', sans-serif;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    margin: 0 auto;
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
}
.opaque { background-color: #546A96; }

#nav-wrap > a.mobile-btn { display: none; }

ul#nav {
    min-height: 48px;
    width: auto;

    text-align: center;
}
ul#nav li {
    position: relative;
    list-style: none;
    height: 48px;
    display: inline-block;
}

ul#nav li a {
    display: inline-block;
    padding: 8px 13px;
    line-height: 32px;
    text-decoration: none;
    text-align: left;
    color: #ffffff;

    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}


ul#nav li a:active { background-color: transparent; }
ul#nav li.current a { color: #C96265 !important; }

/* About */
#about {
    background: #546A96;
    padding-top: 96px;
    padding-bottom: 66px;
    overflow: hidden;
}

#about a, #about a:visited  { color: #fff; }
#about a:hover, #about a:focus { color: #11ABB0; }

#about .profile-pic-wrapper {
    width: 15%;
    position: relative;
    padding: 0 20px;
    min-height: 1px;
    float: left;
}

#about h2 {
    font: 22px/30px 'opensans-bold', sans-serif;
    color: #fff;
    margin-bottom: 12px;
}
#about p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 30px;
    color: #fff;
}
#about .profile-pic {
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 100%;
}
#about .contact-details {
    box-sizing: border-box;
    position: relative;
    width: 41.66667%;
    min-height: 1px;
    float: left;
}
#about .download {
    position: relative;
    min-height: 1px;
    float: right;
    width: 58.33333%;
    padding-top: 6px;
}
#about .main-col {
    box-sizing: border-box;
    position: relative;
    min-height: 1px;
    float: right;
    width: 75%;
    padding-right: 5%;

}
#about .download .button {
    margin-top: 6px;
    background: #C96265;
}

#about .download .button:hover {
    background: #fff;
    color: #2B2B2B;
}

#about .download .button i {
    margin-right: 15px;
    font-size: 20px;
}

/* Resume Section */

#resume {
    background: #fff;
    padding-top: 90px;
    padding-bottom: 72px;
    overflow: hidden;
}

#resume a, #resume a:visited  { color: #11ABB0; }
#resume a:hover, #resume a:focus { color: #313131; }

#resume h1 {
    font: 18px/24px 'opensans-bold', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}
#resume h1 span {
    border-bottom: 3px solid #11ABB0;
    padding-bottom: 6px;
}
#resume h3 {
    font: 25px/30px 'opensans-bold', sans-serif;
}

#resume .header-col {
    width: 25%;
    position: relative;
    min-height: 1px;
    float: left;
    padding: 9px 20px 0;
}
#resume .main-col {
    box-sizing: border-box;
    position: relative;
    min-height: 1px;
    float: right;
    width: 70%;
    padding: 0 10% 0 20px;

}

.education, .work {
    margin-bottom: 48px;
    padding-bottom: 24px;
}

.education {
    display: table;
    width: 96%;
    max-width: 1020px;
    margin: 0 auto;
}

.work {
    display: table;
    width: 96%;
    max-width: 1020px;
    margin: 0 auto;
    border-top: 1px solid #E8E8E8;
}
#resume .info {
    font: 16px/24px 'librebaskerville-italic', serif;
    color: #6E7881;
    margin-bottom: 18px;
    margin-top: 9px;
}
#resume .info span {
    margin-right: 5px;
    margin-left: 5px;
}
#resume .date {
    font: 15px/24px 'opensans-regular', sans-serif;
    margin-top: 6px;
}

#resume .items {
    position: relative;
    padding: 0 20px;
    min-height: 1px;
    float: left;
    width: 100%;
}
